<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Imagenius</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="assets/css/Studious-selectfile.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient" style="padding-bottom: 0px;padding-top: 0px;padding-right: 16px;">
        <div class="container"><a class="navbar-brand logo" href="index.html">Imagenius</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="upload.html">Upload</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="explore.html">Explore</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="activity.html">Activity</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="profile.html">Profile</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page lanidng-page">
        <section class="d-flex portfolio-block block-intro profile-user-info" style="padding-top: 30px;margin-right: 0px;">
            <div class="container">
                <div class="avatar" style="background-image: url(&quot;assets/img/avatars/avatar.jpg&quot;);"></div>
                <div class="about-me">
                    <p style="padding-left: 10px;padding-right: 10px;">Hello! I am <strong>angelqs1</strong>. I work as interface and front end developer. I have passion for pixel perfect, minimal and easy to use interfaces.</p><a class="btn btn-outline-primary btn-sm" role="button" href="#">follow me</a></div>
            </div>
        </section>
        <section class="portfolio-block photography" style="margin-right: 0px;">
            <div class="container d-flex d-sm-flex justify-content-sm-center">
                <div>
                    <div>
                        <div class="d-flex justify-content-center" style="margin-bottom: 5px;min-width: 333px;min-height: 70.7px;max-height: 293px;max-width: 889px;">
                            <div style="min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;margin-right: 5px;"><a href="#"><img src="assets/img/avatars/avatar.jpg" style="min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;width: 100%;height: 100%;"></a></div>
                            <div style="min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;"><a href="#"><img src="assets/img/nature/image1.jpg" style="width: 100%;height: 100%;min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;"></a></div>
                            <div style="min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;margin-left: 5px;"><a href="#"><img src="assets/img/nature/image6.jpg" style="width: 100%;height: 100%;min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;"></a></div>
                        </div>
                        <div class="d-flex justify-content-center" style="margin-bottom: 5px;min-width: 333px;min-height: 70.7px;max-height: 293px;max-width: 889px;">
                            <div style="min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;margin-right: 5px;"><a href="#"><img src="assets/img/avatars/avatar.jpg" style="min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;width: 100%;height: 100%;"></a></div>
                            <div style="min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;"><a href="#"><img src="assets/img/nature/image1.jpg" style="width: 100%;height: 100%;min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;"></a></div>
                            <div style="min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;margin-left: 5px;"><a href="#"><img src="assets/img/nature/image6.jpg" style="width: 100%;height: 100%;min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;"></a></div>
                        </div>
                        <div class="d-flex justify-content-center" style="margin-bottom: 5px;min-width: 333px;min-height: 70.7px;max-height: 293px;max-width: 889px;">
                            <div style="min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;margin-right: 5px;"><a href="#"><img src="assets/img/avatars/avatar.jpg" style="min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;width: 100%;height: 100%;"></a></div>
                            <div style="min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;"><a href="#"><img src="assets/img/nature/image1.jpg" style="width: 100%;height: 100%;min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;"></a></div>
                            <div style="min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;margin-left: 5px;"><a href="#"><img src="assets/img/nature/image6.jpg" style="width: 100%;height: 100%;min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="portfolio-block call-to-action border-bottom">
            <div class="container">
                <div class="d-flex justify-content-center align-items-center content">
                    <h3>Like what you see?</h3><button class="btn btn-outline-primary btn-sm" type="button">Show more</button></div>
            </div>
        </section>
        <section class="portfolio-block skills">
            <div class="container">
                <div class="heading">
                    <h2>acTIVITY</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="far fa-list-alt profile-activity-publication-icons"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">16 Publications</h3>
                                <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="fas fa-users profile-activity-publication-icons"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">124 Followers</h3>
                                <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="fas fa-user-friends profile-activity-publication-icons"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">211 Following</h3>
                                <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer gradient">
        <div class="container">
            <div class="links"><a href="#">About me</a><a href="#">Contact me</a><a href="#">Projects</a></div>
            <div class="social-icons"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-instagram-outline"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a></div>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/Studious-selectfile.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>
