<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Imagenius</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="assets/css/Studious-selectfile.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient" style="padding-bottom: 0px;padding-top: 0px;padding-right: 16px;">
        <div class="container"><a class="navbar-brand logo" href="index.html">Imagenius</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="upload.html">Upload</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="explore.html">Explore</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="activity.html">Activity</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="profile.html">Profile</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page lanidng-page">
        <section class="d-flex justify-content-center portfolio-block block-intro profile-user-info" style="padding-top: 30px;margin-right: 0px;">
            <div class="container d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center">
                <div>
                    <div class="d-xl-flex justify-content-xl-center" style="max-width: 814px;min-width: auto;">
                        <div class="d-flex d-md-flex d-xl-flex justify-content-center justify-content-md-center align-items-xl-center image-container-1" style="background-color: #000000;max-height: 598px;">
                            <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center image-container"
                                style="max-height: 598px;min-height: 598px;max-width: 598px;"><img class="d-xl-flex" src="assets/img/large.jpeg" style="max-height: 598px;max-width: 100%;"></div>
                        </div>
                        <div class="publication-content" style="max-height: 598px;">
                            <div>
                                <div style="min-height: 100%;">
                                    <div class="d-flex publication-container" style="height: 60px;">
                                        <div class="d-flex d-sm-flex d-md-flex d-lg-flex align-items-center align-items-sm-center align-items-md-center align-items-lg-center" style="margin-left: 20px;margin-right: 20px;"><a href="#"><img class="rounded-circle" src="assets/img/avatars/avatar.jpg" style="height: 32px;"></a></div>
                                        <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex flex-row justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center">
                                            <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-start justify-content-sm-start justify-content-md-start justify-content-lg-start justify-content-xl-start" style="margin-right: 0px;">
                                                <a href="#">
                                                    <p class="publication-container-username" style="margin-bottom: 0px;">angelqs1</p>
                                                </a>
                                            </div>
                                            <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-start justify-content-sm-start justify-content-md-start justify-content-lg-start justify-content-xl-start" style="margin-right: 5px;margin-left: 5px;">
                                                <p class="d-xl-flex publication-container-separator" style="margin-bottom: 0px;padding-bottom: 2px;">·</p>
                                            </div>
                                            <div><button class="btn d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-start justify-content-sm-start justify-content-md-start justify-content-lg-start justify-content-xl-start publication-container-follow-button"
                                                    type="button" style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;">Siguiendo</button></div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="comments-group" style="margin: 0px;padding-top: 20px;max-height: 388px;">
                                            <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-start justify-content-sm-start justify-content-md-start justify-content-lg-start justify-content-xl-start" style="margin-bottom: 20px;">
                                                <div class="d-xl-flex align-items-xl-start" style="width: 32px;margin-left: 20px;margin-right: 20px;"><a href="#"><img class="rounded-circle d-xl-flex publication-username" style="width: 32px;height: 32px;" src="assets/img/avatars/avatar.jpg"></a></div>
                                                <div class="d-xl-flex flex-column justify-content-xl-start" style="padding-right: 10px;">
                                                    <p class="text-left publication-container-user-comment" style="margin-bottom: 0px;max-width: 100%;"><span class="publication-container-user-name">angelqs1</span>&nbsp;<br>Follow us 👉<a href="https://www.instagram.com/sketch_dailydose/">@sketch_dailydose</a>👈 for more!🙌<br>Art by YOUZAIJIEJIE521
                                                        (Douyin)<br>song:&nbsp;<a href="https://www.instagram.com/seanyowe/">@seanyowe</a>&nbsp;- Back Then Feat.&nbsp;<a href="https://www.instagram.com/JennKrahn/">@JennKrahn</a><br>.<br>Do you want immediate
                                                        feature? Contact us!📥<br>.<br>⚠No ©Copyright Infringement Intended❌Email (contact) us to fix/remove&nbsp;<br></p>
                                                    <div class="d-xl-flex justify-content-xl-start" style="padding-top: 3px;">
                                                        <p class="d-flex d-lg-flex justify-content-start justify-content-lg-start publication-container-time" style="margin-bottom: 0px;">14 HOURS AGO</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex d-xl-flex justify-content-start justify-content-xl-start" style="margin-bottom: 20px;">
                                                <div class="d-xl-flex align-items-xl-start" style="width: 32px;margin-left: 20px;margin-right: 20px;"><a href="#"><img class="rounded-circle d-xl-flex publication-username" style="width: 32px;height: 32px;" src="assets/img/nature/image2.jpg"></a></div>
                                                <div class="d-xl-flex flex-column justify-content-xl-start">
                                                    <p class="text-left publication-container-user-comment" style="margin-bottom: 0px;max-width: 100%;"><span class="publication-container-user-name">ecoetwo</span>&nbsp;bro how can you make such a fail and have two planets on this kind of composition 🤣🤣🤣<br></p>
                                                    <div class="d-xl-flex justify-content-xl-start"
                                                        style="padding-top: 3px;">
                                                        <p class="d-flex d-lg-flex justify-content-start justify-content-lg-start publication-container-time" style="margin-bottom: 0px;">11 h</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex d-xl-flex justify-content-start justify-content-xl-start" style="margin-bottom: 20px;">
                                                <div class="d-xl-flex align-items-xl-start" style="width: 32px;margin-left: 20px;margin-right: 20px;"><a href="#"><img class="rounded-circle d-xl-flex publication-username" style="width: 32px;height: 32px;" src="assets/img/nature/image2.jpg"></a></div>
                                                <div class="d-xl-flex flex-column justify-content-xl-start">
                                                    <p class="text-left publication-container-user-comment" style="margin-bottom: 0px;max-width: 100%;"><span class="publication-container-user-name">ecoetwo</span>&nbsp;bro how can you make such a fail and have two planets on this kind of composition 🤣🤣🤣<br></p>
                                                    <div class="d-xl-flex justify-content-xl-start"
                                                        style="padding-top: 3px;">
                                                        <p class="d-flex d-lg-flex justify-content-start justify-content-lg-start publication-container-time" style="margin-bottom: 0px;">11 h</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex d-xl-flex justify-content-start justify-content-xl-start" style="margin-bottom: 20px;">
                                                <div class="d-xl-flex align-items-xl-start" style="width: 32px;margin-left: 20px;margin-right: 20px;"><a href="#"><img class="rounded-circle d-xl-flex publication-username" style="width: 32px;height: 32px;" src="assets/img/nature/image2.jpg"></a></div>
                                                <div class="d-xl-flex flex-column justify-content-xl-start">
                                                    <p class="text-left publication-container-user-comment" style="margin-bottom: 0px;max-width: 100%;"><span class="publication-container-user-name">ecoetwo</span>&nbsp;bro how can you make such a fail and have two planets on this kind of composition 🤣🤣🤣<br></p>
                                                    <div class="d-xl-flex justify-content-xl-start"
                                                        style="padding-top: 3px;">
                                                        <p class="d-flex d-lg-flex justify-content-start justify-content-lg-start publication-container-time" style="margin-bottom: 0px;">11 h</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex d-xl-flex justify-content-start justify-content-xl-start" style="margin-bottom: 20px;">
                                                <div class="d-xl-flex align-items-xl-start" style="width: 32px;margin-left: 20px;margin-right: 20px;"><a href="#"><img class="rounded-circle d-xl-flex publication-username" style="width: 32px;height: 32px;" src="assets/img/nature/image2.jpg"></a></div>
                                                <div class="d-xl-flex flex-column justify-content-xl-start">
                                                    <p class="text-left publication-container-user-comment" style="margin-bottom: 0px;max-width: 100%;"><span class="publication-container-user-name">ecoetwo</span>&nbsp;bro how can you make such a fail and have two planets on this kind of composition 🤣🤣🤣<br></p>
                                                    <div class="d-xl-flex justify-content-xl-start"
                                                        style="padding-top: 3px;">
                                                        <p class="d-flex d-lg-flex justify-content-start justify-content-lg-start publication-container-time" style="margin-bottom: 0px;">11 h</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex d-xl-flex justify-content-start justify-content-xl-start" style="margin-bottom: 20px;">
                                                <div class="d-xl-flex align-items-xl-start" style="width: 32px;margin-left: 20px;margin-right: 20px;"><a href="#"><img class="rounded-circle d-xl-flex publication-username" style="width: 32px;height: 32px;" src="assets/img/nature/image2.jpg"></a></div>
                                                <div class="d-xl-flex flex-column justify-content-xl-start">
                                                    <p class="text-left publication-container-user-comment" style="margin-bottom: 0px;max-width: 100%;"><span class="publication-container-user-name">ecoetwo</span>&nbsp;bro how can you make such a fail and have two planets on this kind of composition 🤣🤣🤣<br></p>
                                                    <div class="d-xl-flex justify-content-xl-start"
                                                        style="padding-top: 3px;">
                                                        <p class="d-flex d-lg-flex justify-content-start justify-content-lg-start publication-container-time" style="margin-bottom: 0px;">11 h</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex d-xl-flex justify-content-start justify-content-xl-start" style="margin-bottom: 20px;">
                                                <div class="d-xl-flex align-items-xl-start" style="width: 32px;margin-left: 20px;margin-right: 20px;"><a href="#"><img class="rounded-circle d-xl-flex publication-username" style="width: 32px;height: 32px;" src="assets/img/nature/image2.jpg"></a></div>
                                                <div class="d-xl-flex flex-column justify-content-xl-start">
                                                    <p class="text-left publication-container-user-comment" style="margin-bottom: 0px;max-width: 100%;"><span class="publication-container-user-name">ecoetwo</span>&nbsp;bro how can you make such a fail and have two planets on this kind of composition 🤣🤣🤣<br></p>
                                                    <div class="d-xl-flex justify-content-xl-start"
                                                        style="padding-top: 3px;">
                                                        <p class="d-flex d-lg-flex justify-content-start justify-content-lg-start publication-container-time" style="margin-bottom: 0px;">11 h</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex d-xl-flex justify-content-start justify-content-xl-start" style="margin-bottom: 20px;">
                                                <div class="d-xl-flex align-items-xl-start" style="width: 32px;margin-left: 20px;margin-right: 20px;"><a href="#"><img class="rounded-circle d-xl-flex publication-username" style="width: 32px;height: 32px;" src="assets/img/nature/image2.jpg"></a></div>
                                                <div class="d-xl-flex flex-column justify-content-xl-start">
                                                    <p class="text-left publication-container-user-comment" style="margin-bottom: 0px;max-width: 100%;"><span class="publication-container-user-name">ecoetwo</span>&nbsp;bro how can you make such a fail and have two planets on this kind of composition 🤣🤣🤣<br></p>
                                                    <div class="d-xl-flex justify-content-xl-start"
                                                        style="padding-top: 3px;">
                                                        <p class="d-flex d-lg-flex justify-content-start justify-content-lg-start publication-container-time" style="margin-bottom: 0px;">11 h</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex d-xl-flex justify-content-start justify-content-xl-start" style="margin-bottom: 20px;">
                                                <div class="d-xl-flex align-items-xl-start" style="width: 32px;margin-left: 20px;margin-right: 20px;"><a href="#"><img class="rounded-circle d-xl-flex publication-username" style="width: 32px;height: 32px;" src="assets/img/nature/image2.jpg"></a></div>
                                                <div class="d-xl-flex flex-column justify-content-xl-start">
                                                    <p class="text-left publication-container-user-comment" style="margin-bottom: 0px;max-width: 100%;"><span class="publication-container-user-name">ecoetwo</span>&nbsp;bro how can you make such a fail and have two planets on this kind of composition 🤣🤣🤣<br></p>
                                                    <div class="d-xl-flex justify-content-xl-start"
                                                        style="padding-top: 3px;">
                                                        <p class="d-flex d-lg-flex justify-content-start justify-content-lg-start publication-container-time" style="margin-bottom: 0px;">11 h</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-xl-flex justify-content-xl-center align-items-xl-center" style="height: 40px;margin-bottom: 20px;"><button class="btn btn-primary d-xl-flex publication-comments-more-button" type="button" style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;height: 28px;min-height: 28px;max-height: 28px;"><i class="icon ion-ios-plus-outline d-xl-flex align-items-xl-center publication-comments-more-icon"></i></button></div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-start align-items-center publications-buttons" style="height: 40px;">
                                        <div>
                                            <div><button class="btn publication-buttons" type="button" style="padding-left: 5px;padding-right: 5px;margin-left: 15px;height: 39px;"><i class="fa fa-heart-o heart-icon"></i></button></div>
                                        </div>
                                        <div>
                                            <div><button class="btn publication-buttons" type="button" style="padding-right: 5px;padding-left: 5px;margin-left: 15px;height: 39px;"><i class="far fa-comment comment-icon"></i></button></div>
                                        </div>
                                    </div>
                                    <div class="d-flex d-md-flex d-lg-flex d-xl-flex justify-content-start justify-content-md-start justify-content-lg-start justify-content-xl-start" style="padding-left: 10px;padding-bottom: 1px;">
                                        <p class="publication-trend-content" style="margin-bottom: 0px;padding-left: 10px;">14</p>
                                        <p class="publication-trend-content" style="margin-bottom: 0px;padding-left: 10px;">Me gusta</p>
                                    </div>
                                    <div class="d-xl-flex justify-content-xl-start" style="padding-top: 3px;padding-left: 20px;padding-bottom: 10px;">
                                        <p class="d-flex d-lg-flex justify-content-start justify-content-lg-start publication-container-time" style="margin-bottom: 0px;">14 HOURS AGO</p>
                                    </div>
                                    <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-start justify-content-sm-start justify-content-md-start justify-content-lg-start justify-content-xl-start publication-insert-comment-container"
                                        style="max-width: 100%;">
                                        <div class="d-flex d-sm-flex d-md-flex d-lg-flex justify-content-start justify-content-sm-start justify-content-md-start justify-content-lg-start" style="max-height: 56px;min-height: 56px;min-width: 81%;"><input class="d-xl-flex justify-content-xl-start publication-text-input" type="text" style="padding-top: 0px;padding-bottom: 0px;max-height: 56px;min-height: 56px;padding-left: 15px;padding-right: 15px;min-width: 100%;"
                                                placeholder="Add a comment..."></div>
                                        <div style="min-height: 56px;max-height: 56px;"><button class="btn publication-text-input-button" type="button" style="height: 56px;padding-right: 15px;padding-left: 15px;">Post</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="portfolio-block photography" style="margin-right: 0px;margin-bottom: 60px;">
            <div class="container d-flex d-sm-flex justify-content-sm-center">
                <div>
                    <div>
                        <div class="d-flex justify-content-center" style="margin-bottom: 5px;min-width: 333px;min-height: 70.7px;max-height: 293px;max-width: 889px;">
                            <div style="min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;margin-right: 5px;"><a href="#"><img src="assets/img/avatars/avatar.jpg" style="min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;width: 100%;height: 100%;"></a></div>
                            <div style="min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;"><a href="#"><img src="assets/img/nature/image1.jpg" style="width: 100%;height: 100%;min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;"></a></div>
                            <div style="min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;margin-left: 5px;"><a href="#"><img src="assets/img/nature/image6.jpg" style="width: 100%;height: 100%;min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;"></a></div>
                        </div>
                        <div class="d-flex justify-content-center" style="margin-bottom: 5px;min-width: 333px;min-height: 70.7px;max-height: 293px;max-width: 889px;">
                            <div style="min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;margin-right: 5px;"><a href="#"><img src="assets/img/avatars/avatar.jpg" style="min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;width: 100%;height: 100%;"></a></div>
                            <div style="min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;"><a href="#"><img src="assets/img/nature/image1.jpg" style="width: 100%;height: 100%;min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;"></a></div>
                            <div style="min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;margin-left: 5px;"><a href="#"><img src="assets/img/nature/image6.jpg" style="width: 100%;height: 100%;min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;"></a></div>
                        </div>
                        <div class="d-flex justify-content-center" style="margin-bottom: 5px;min-width: 333px;min-height: 70.7px;max-height: 293px;max-width: 889px;">
                            <div style="min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;margin-right: 5px;"><a href="#"><img src="assets/img/avatars/avatar.jpg" style="min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;width: 100%;height: 100%;"></a></div>
                            <div style="min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;"><a href="#"><img src="assets/img/nature/image1.jpg" style="width: 100%;height: 100%;min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;"></a></div>
                            <div style="min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;margin-left: 5px;"><a href="#"><img src="assets/img/nature/image6.jpg" style="width: 100%;height: 100%;min-width: 114.3px;max-width: 293px;min-height: 114.3px;max-height: 293px;"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer gradient">
        <div class="container">
            <div class="links"><a href="#">About me</a><a href="#">Contact me</a><a href="#">Projects</a></div>
            <div class="social-icons"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-instagram-outline"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a></div>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/Studious-selectfile.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>
