<nav
  class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient"
  style="padding-bottom: 0px;padding-top: 0px;padding-right: 16px;"
>
  <div class="container">
    <a class="navbar-brand logo" href="/">Imagenius</a
    ><button
      data-toggle="collapse"
      class="navbar-toggler"
      data-target="#navbarNav"
    >
      <span class="sr-only">Toggle navigation</span
      ><span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav ml-auto">
        {% if user %}
        <li class="nav-item" role="presentation">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" href="upload.html">Upload</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" href="explore.html">Explore</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" href="activity.html">Activity</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" href="profile.html">Profile</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
