{% extends "../layouts/main.njk" %}
{% block main %}
  <main class="page hire-me-page">
    <section class="portfolio-block hire-me" style="padding-top: 30px;">
      <div class="container">
        <div class="heading" style="margin-bottom: 40px;">
          <h2 style="margin-bottom: 20px;">mobile phone verification</h2>
          <div>
            <div>
              <div>
                <div class="d-xl-flex justify-content-xl-center">
                  <p class="text-center" style="
                        padding-left: 15px;
                        padding-right: 15px;
                        margin-bottom: 20px;
                      ">
                    <span class="mobile-phone-number-paragraph-text">Verification code sent!</span >&nbsp;Most carriers deliver the verification code within 10 seconds. If you do not receive the code within five minutes, please&nbsp;
                    <a href="#">try again</a>&nbsp;or contact&nbsp;<a href="#">support@imagenius.com</a >&nbsp;for assistance. Once you've received the verification code, please enter it below and click validate.
                  </p>
                </div>
              </div>
              <div class="d-flex justify-content-center align-items-center justify-content-xl-center">
                <div>
                  <form action="/user/account/verify/{{activationToken}}/code_verify" method="POST" id="codeVerificationForm">
                    <div>
                      <p class="mobile-phone-number-text" style="padding-left: 0px; margin-bottom: 5px;">
                        Verification Code
                      </p>
                    </div>
                    <div>
                      <input type="tel" class="mobile-phone-number-input-text" name="verificationCode" autofocus="autofocus" required="required" maxlength="6" minlength="6" style="
                            margin-bottom: 10px;
                            padding-left: 3px;
                            padding-right: 5px;
                          "/>
                    </div>
                    <div>
                      <button class="btn btn-sm mobile-phone-number-button" type="submit" style="padding-top: 3px; padding-bottom: 3px;">
                        Validate
                      </button>
                      <input hidden="hidden" type="submit" name="resend" value="phoneNumber" autofocus="autofocus"/>
                      <button class="btn btn-sm mobile-phone-number-button-send-new-code" type="button" style="
                            padding-top: 3px;
                            padding-bottom: 3px;
                            padding-left: 15px;
                            padding-right: 0px;
                          ">
                        Send new code
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock main %}